body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-image: url("wepik-20211016-9127.jpg");
}

.head{
    text-align: left;
    margin:5vh 3vw;
    font-size: 35px;
    font-weight: 300;
    color: #037b99;
}

.main-text{
    display: flex;
    flex-direction: row;
    border: 3px solid gray;
    border-radius: 10px;
    margin:10vh auto;
    text-align: center;
    width: 80%;
    color: black;
    font-size: medium;
    padding: 2vw;
}

.main-text h2{
    width: 100%;
    padding-right: 20px;
}

.main-text p{
    color: rgb(109, 108, 108);
}

.quote{
    text-align: center;
    color: #039979;
}

.btn-div{
    text-align: center;
    margin: 5vh auto;
}

a{
    width: 80%;
    font-size: 50px;
    
}



/* For mobile phones: */
@media only screen and (max-width: 768px) {
    .head {
      font-size: 10vw;
    }
    .main-text{
        flex-direction: column;
        margin: 7vh auto;
    }
}