{% extends 'base.html' %}
{% load static %}

{% block css %} {% static 'resume-builder.css' %} {% endblock css %}
{% block title %} Resume builder {% endblock title %}

{% block content %}
    <h1>make your resume</h1>

    <div>
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}

            {% comment %} {{form.name}}
            {{form.skill}}
            <button>add new skill field</button>
            {{form.award}}
            <button>add new award field</button> {% endcomment %}

            <input type="submit" class="btn btn-success">
        </form>
        
    </div>



{% endblock content %}